:root {
    --body-bg: #e4e4e4;
    /* Light blue-gray */
    --header-color: #3498db;
    /* Medium blue */
    --primary-color: #fff;
    /* White */
    --secondary-color: #2c3e50;
    /* Dark blue */
    --warning-color: #FFC107;
    /* Adjusted warning color based on your palette */
    --danger-color: #DC3545;
    /* Adjusted danger color based on your palette */
    --success-color: #28A745;
    /* Adjusted success color based on your palette */
    --info-color: #17A2B8;
    /* Font Colors */
    --font-color-primary: #333;
    /* Dark text */
    --font-color-secondary: #666;
    /* Medium dark text */
    --font-color-tertiary: #999;
    /* Lighter text */

    /* Neutrals */
    --black: #000000;
    --white: #ffffff;
    --gray-light: #ecf0f1;
    /* Light blue-gray */
    --gray-mid: #95a5a6;
    /* Mid-tone blue-gray */
    --gray-dark: #34495e;
    /* Darker blue-gray */

    /* Fonts */
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto', sans-serif;

    /* Font Sizes */
    --font-size-small: 1rem;
    --font-size-normal: 1.1rem;
    --font-size-medium: 1.28rem;
    --font-size-large: 1.4;

    /* Spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;

    /* Borders */
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 12px;

    /* Shadows */
    /* --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    --box-shadow: 0px 1.4px 2.8px rgba(28, 28, 28, 0.411);
    --dark-box-shadow: 0px 1.4px 2.8px rgba(28, 28, 28, 0.7);

    /* Al fonts will change according to this */
    font-size: 14px;
}