.account-div
  .profile-container
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    align-items: center

    .profile-img-div
      width: 40%
      text-align: center
      .profile-image
        max-height: 220px
        max-width: 220px
        border-radius: 50%
        box-shadow: var(--box-shadow)
        margin: auto

    .user-info
      width: 60%
      padding: 0
      h2
        letter-spacing: 1px
      .user-info-text
        margin-left: 30px
        p
          font-size: var(--font-size-normal)
          margin: 0
          text-indent: 10px
          margin-bottom: 20px
        strong
          font-size: var(--font-size-normal)
          font-weight: 600
          letter-spacing: 1px
